[submodule "dpdk"]
	path = dpdk
	url = https://github.com/DPDK/dpdk
[submodule "spdk"]
	path = spdk
	url = https://github.com/spdk/spdk
[submodule "rdma-core"]
	path = rdma-core
	url = https://github.com/linux-rdma/rdma-core
[submodule "apps/storage_service/snappy"]
	path = apps/storage_service/snappy
	url = https://github.com/google/snappy.git
[submodule "deps/pcm"]
	path = deps/pcm
	url = https://github.com/opcm/pcm.git
[submodule "apps/rocksdb/rocksdb"]
	path = apps/rocksdb/rocksdb
	url = https://github.com/LinsongGuo/rocksdb.git
[submodule "apps/rocksdb_concord/rocksdb"]
	path = apps/rocksdb_concord/rocksdb
	url = https://github.com/LinsongGuo/rocksdb.git
[submodule "apps/dataframe/DataFrame"]
	path = apps/dataframe/DataFrame
	url = https://github.com/LinsongGuo/DataFrame.git
[submodule "apps/dataframe/concord"]
	path = apps/dataframe/concord
	url = https://github.com/LinsongGuo/concord.git
[submodule "apps/rocksdb_concord/rocksdb_func_loop"]
	path = apps/rocksdb_concord/rocksdb_func_loop
	url = https://github.com/LinsongGuo/rocksdb.git
	branch = clang-concord_func_loop
[submodule "aspen-go/go"]
	path = aspen-go/go
	url = https://github.com/PLSysSec/go-preempt.git
	branch = net-optimized
[submodule "aspen-go/badger-bench"]
	path = aspen-go/badger-bench
	url = https://github.com/LinsongGuo/badger-bench.git
	branch = experiment
[submodule "concord"]
	path = concord
	url = https://github.com/LinsongGuo/concord.git
